{% extends "listit/_layouts/main" %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('listit', [
    "No lists exist yet.",
    "Name",
    "Handle",
    "Subscribers",
    "Element Type",
    "Are you sure you want to delete {name} and all subscribers?"
]) %}

{% block content %}
    <div id="lists-vue-admin-table"></div>
{% endblock %}

{% set lists = listit.plugin.lists.getAllLists() %}

{% set data = [] %}
{% for list in lists %}
    {% set data = data|merge([{
        id: list.handle,
        title: list.name,
        url: url('listit/lists/'~list.handle),
        subscribers: list.totalSubscriptions,
        handle: list.handle,
        element: list.elementTypeLabel,
    }]) %}
{% endfor %}

{% js %}
    new Craft.VueAdminTable({
        columns: [
            { name: '__slot:title', title: Craft.t('listit', 'Name') },
            { name: '__slot:handle', title: Craft.t('listit', 'Handle') },
            { name: 'subscribers', title: 'Subscribers' },
            { name: 'element', title: Craft.t('listit', 'Element Type') },
        ],
        padding: true,
        container: '#lists-vue-admin-table',
        deleteAction: 'listit/list/delete-list',
        deleteConfirmationMessage: 'Are you sure you want to delete {name} and all subscribers?',
        emptyMessage: Craft.t('listit', 'No lists exist yet.'),
        tableData: {{ data|json_encode|raw }}
    });
{% endjs %}








