{% extends "listit/_layouts/main" %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('listit', [
    "Subscriber",
    "Date",
    "No subscriptions exist yet.",
    "Are you sure you want to delete this subscription?",
]) %}

{% set list = listit.plugin.lists.getListByHandle(handle) %}
{% if not list %}
    {% exit 404 %}
{% endif %}

{% block content %}
    <div id="list-vue-admin-table"></div>
{% endblock %}

{% js %}
    {% if list.elementType %}
        var columns = [
            { name: 'subscriber', title: Craft.t('listit', 'Subscriber') },
            { name: 'date', title: Craft.t('listit', 'Date') },
            { name: 'element', title: '{{ list.elementTypeLabel }}' },
            { name: '__slot:detail', title: '' },
        ];
    {% else %}
        var columns = [
            { name: 'subscriber', title: Craft.t('listit', 'Subscriber') },
            { name: 'date', title: Craft.t('listit', 'Date') },
            { name: '__slot:detail', title: '' },
        ];
    {% endif %}

    new Craft.VueAdminTable({
        columns: columns,
        perPage: 1,
        container: '#list-vue-admin-table',
        deleteAction: 'listit/list/delete-subscription',
        deleteConfirmationMessage: 'Are you sure you want to delete this subscription?',
        emptyMessage: Craft.t('listit', 'No subscriptions exist yet.'),
        tableDataEndpoint: 'listit/list/subscriptions?list={{ handle }}',
    });

    // TODO: @sam - Setup ElementThumbLoader once vue events exposed to vanilla js
    //     : https://github.com/craftcms/cms/issues/6063
    //
    // document.on('data', function(e) {
    //     console.log(e);
    // });
    // new Craft.ElementThumbLoader().load($('#list-vue-admin-table'));
{% endjs %}








